nav {
    display: flex;
    height: 64px;
    padding: 10px 162px;
    align-items: center;
    gap: 308px;
    flex-shrink: 0;
    background-color: #FFFFFF;
    margin-bottom:40px
}

nav div.center-items{
    display: flex;
    align-items: flex-start;
    gap: 60px;
}

div.find-job a{
    color: var(--black, #232134);
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}